* {
}


html {
  height: 100%;
  background-color: #fff;
  display: inline;
}

body {
  font-family: "open sans", sans;
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  color: #ff0202;
}
h1 {
  text-align: center;
  line-height: 50px;
}

nav:hover h1 {
  display: none;
}
p {
  font-size: 1rem;
  color: #fff;
}

nav {
  height: 100%;
  width: 50px;
  position: fixed;
  background: black;
  display: block;
  overflow: none;
  color: white;
  box-shadow: 5px 0px 20px 0px grey;
  transition: 1s;
}

nav:hover {
  width: 120px;
  transition: .3s;
}

ul {
  font-size: 0;
  text-transform: uppercase;
}


nav:hover ul {
  display: block;
  list-style: none;
  padding: 0;
  letter-spacing: 3px;
  line-height: 100px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: .4s .2s;
}
